<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.atmecs.atmecsqa.testscript.ContactPageScript"/>
      <class name="com.atmecs.atmecsqa.testscript.PartnersScript"/>
      <class name="com.atmecs.atmecsqa.testscript.CareersPageScript"/>
      <class name="com.atmecs.atmecsqa.helper.HyderabadCareersList"/>
      <class name="com.atmecs.atmecsqa.testscript.HomePageScript"/>
      <class name="com.atmecs.atmecsqa.testscript.AboutUsScript"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
